GOOGLE_CLIENT_ID=changeme
GOOGLE_CLIENT_SECRET=changeme

GITHUB_CLIENT_ID=changeme
GITHUB_CLIENT_SECRET=changeme

JWT_SECRET=changeme

PLUTON_EMAIL=changeme@changeme.net
PLUTON_EMAIL_APP_PASSWORD=changeme

DB_USER=changeme
DB_PASSWORD=changeme