services:
  db:
    image: postgres:18.0-alpine3.22
    environment:
      - POSTGRES_DB=pluton_db_dev
      - POSTGRES_USER=devuser
      - POSTGRES_PASSWORD=devpassword
    ports:
      - "5432:5432"